{{!-- Jumbotron recuadro grandote --}}

<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolorum ipsa inventore nostrum perferendis, suscipit adipisci reprehenderit aperiam labore aspernatur at corrupti nisi ducimus accusantium unde illum alias voluptas odio!</p>
    <a href="https://github.com/carlostheory" class="btn btn-primary btn-lg" target="_blank">Mi Github</a>
</div>